name: Full Infrastructure Provision json

on:
  workflow_dispatch:
    inputs:
      infra_config:
        description: "Full infrastructure configuration (JSON)"
        required: true

jobs:
  infra:
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: true

    steps:
      # ------------------------
      # Checkout
      # ------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ------------------------
      # Validate JSON
      # ------------------------
      - name: Validate infra_config JSON
        run: |
          echo '${{ inputs.infra_config }}' | jq .

      - name: Build terraform.tfvars.json
        run: |
            jq '
            {
                # ------------------
                # Project
                # ------------------
                project_name: .project.name,
                environment:  .project.environment,
                aws_region:   .project.aws_region,

                # ------------------
                # Network
                # ------------------
                cidr:            .network.cidr,
                azs:             .network.azs,
                public_subnets:  .network.public_subnets,
                private_subnets: .network.private_subnets,

                # ------------------
                # Compute selector
                # ------------------
                compute_type:
                (if .compute.ecs.enabled then "ecs"
                elif .compute.ec2.enabled then "ec2"
                else null end),

                # ------------------
                # ALB
                # ------------------
                listener_port:    .alb.listener_port,
                target_port:      .alb.target_port,
                healthcheck_path: .alb.healthcheck_path,

                # ------------------
                # EC2 compute
                # ------------------
                instance_type:
                (if .compute.ec2.enabled then .compute.ec2.instance_type else null end),
                key_name:
                (if .compute.ec2.enabled then .compute.ec2.key_name else null end),

                # ------------------
                # Database selector
                # ------------------
                data_base_type:
                (if .database.rds.enabled then "RDS"
                elif .database.ec2.enabled then "ec2"
                else null end),

                # ------------------
                # RDS Postgres
                # ------------------
                db_name:
                (if .database.rds.enabled then .database.rds.db_name else null end),
                db_username:
                (if .database.rds.enabled then .database.rds.db_username else null end),
                db_instance_class:
                (if .database.rds.enabled then .database.rds.db_instance_class else null end),
                allocated_storage:
                (if .database.rds.enabled then .database.rds.allocated_storage else null end),
                max_allocated_storage:
                (if .database.rds.enabled then .database.rds.max_allocated_storage else null end),
                engine_version:
                (if .database.rds.enabled then .database.rds.engine_version else null end),
                multi_az:
                (if .database.rds.enabled then .database.rds.multi_az else null end),
                backup_retention_period:
                (if .database.rds.enabled then .database.rds.backup_retention_period else null end),
                skip_final_snapshot:
                (if .database.rds.enabled then .database.rds.skip_final_snapshot else null end),
                deletion_protection:
                (if .database.rds.enabled then .database.rds.deletion_protection else null end),

                # ------------------
                # EC2 Postgres
                # ------------------
                db_engine:
                (if .database.ec2.enabled then .database.ec2.engine else null end),
                db_instance_type:
                (if .database.ec2.enabled then .database.ec2.instance_type else null end),
                db_volume_size:
                (if .database.ec2.enabled then .database.ec2.volume_size else null end),

                # ------------------
                # Secret (injected)
                # ------------------
                db_password: env.DB_PASSWORD
            }
            | with_entries(select(.value != null))
            ' <<< '${{ inputs.infra_config }}' > terraform.tfvars.json
        env:
         DB_PASSWORD: ${{ secrets.DB_PASSWORD }}


      # ------------------------
      # Extract common vars
      # ------------------------
      - name: Export common variables
        run: |
            echo "PROJECT_NAME=$(echo '${{ inputs.infra_config }}' | jq -r .project.name)" >> $GITHUB_ENV
            echo "ENVIRONMENT=$(echo '${{ inputs.infra_config }}' | jq -r .project.environment)" >> $GITHUB_ENV
            echo "AWS_REGION=$(echo '${{ inputs.infra_config }}' | jq -r .project.aws_region)" >> $GITHUB_ENV

      # ------------------------
      # AWS Credentials
      # ------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # ------------------------
      # Setup Terraform
      # ------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      # -------------------------------------------
      # Bootstrap backend bucket if needed
      # -------------------------------------------
      - name: Check backend bucket
        id: check_bucket
        run: |
          if aws s3api head-bucket --bucket "${PROJECT_NAME}-backend-tf" 2>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create backend bucket
        if: steps.check_bucket.outputs.exists == 'false'
        working-directory: ./micro-project/backend
        run: |
          echo "backend_bucket_name = \"${PROJECT_NAME}-backend-tf\"" > backend.auto.tfvars
          echo "aws_region = \"${AWS_REGION}\"" >> backend.auto.tfvars
          terraform init
          terraform apply -auto-approve

      # -------------------------------------------
      # Upload tfvars to S3
      # -------------------------------------------
      - name: Upload tfvars to S3
        run: |
          aws s3 cp terraform.tfvars.json \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json

      # ===========================================
      # VPC
      # ===========================================
      - name: Deploy VPC
        working-directory: ./micro-project/vpc
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/vpc/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve

      # ===========================================
      # Security Group
      # ===========================================
      - name: Deploy Security Group
        working-directory: ./micro-project/security-group
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/security-group/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve

      # ===========================================
      # ALB
      # ===========================================
      - name: Deploy ALB
        working-directory: ./micro-project/alb
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/alb/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve

      # ===========================================
      # ECS (if selected)
      # ===========================================
      - name: Deploy ECS
        if: fromJson(inputs.infra_config).compute.type == 'ecs'
        working-directory: ./micro-project/ecs
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/ecs/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve

      # ===========================================
      # EC2 (if selected)
      # ===========================================
      - name: Deploy EC2
        if: fromJson(inputs.infra_config).compute.type == 'ec2'
        working-directory: ./micro-project/ec2
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/ec2/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve
      # ===========================================
      # EC2 Postgres
      # ===========================================
      - name: Deploy EC2 Postgres
        if: fromJson(inputs.infra_config).database.type == 'ec2'
        working-directory: ./micro-project/ec2-postgres
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/ec2-postgres/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve
      # ===========================================
      # RDS Postgres
      # ===========================================
      - name: Deploy RDS Postgres
        if: fromJson(inputs.infra_config).database.type == 'RDS'
        working-directory: ./micro-project/rds-postgres
        run: |
          aws s3 cp s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/rds-postgres/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}"
          terraform apply -auto-approve
