name: Destroy Infrastructure (Protected)

on:
    workflow_dispatch:
        inputs:
            password:
                description: "Enter destroy password"
                required: true
                type: string
            bucket_name:
                description: "Terraform Backend S3 Bucket"
                required: true
                type: string
            aws_region:
                description: "AWS Region"
                required: true
                default: "us-east-1"
                type: string
            environment:
                description: "Environment to destroy"
                required: true
                default: "dev"
                type: string

jobs:
    destroy:
        runs-on: ubuntu-latest

        env:
            INPUT_PASSWORD: ${{ inputs.password }}
            DESTROY_PASSWORD: ${{ secrets.DESTROY_PASSWORD }}
            BUCKET_NAME_BACKEND: ${{ inputs.bucket_name }}
            AWS_REGION: ${{ inputs.aws_region }}
            ENVIRONMENT: ${{ inputs.environment }}


        steps:
            - name: Verify password
              run: |
                  if [ "$INPUT_PASSWORD" != "$DESTROY_PASSWORD" ]; then
                    echo "ERROR: Invalid destroy password!"
                    exit 1
                  fi
                  echo "Password verified. Proceeding with destroy..."

            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.6.6"

# -------------------------------------------
#  INIT + DESYTROY ECS
# -------------------------------------------
            - name: Check if ECS state exists
              id: ecs_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/ecs/terraform.tfstate >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/ecs
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Terraform Init ECS (with backend config)
              if: steps.ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/ecs
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/ecs/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy ECS
              if: steps.ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/ecs
              run: terraform destroy -auto-approve 


# -------------------------------------------
#  INIT + DESYTROY IAM-ECS
# -------------------------------------------
            - name: Check if IAM-ECS state exists
              id: iam_ecs_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}згначить  >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.iam_ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ecs
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Terraform Init IAM-ECS (with backend config)
              if: steps.iam_ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ecs
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/iam-ecs/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy IAM-ECS
              if: steps.iam_ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ecs
              run: terraform destroy -auto-approve 

# -------------------------------------------
#  INIT + DESYTROY ALB
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/alb
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Terraform Init ALB (with backend config)
              working-directory: ./micro-project/alb
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/alb/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy ALB
              working-directory: ./micro-project/alb
              run: terraform destroy -auto-approve 


# -------------------------------------------
#  INIT + DESYTROY SG
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/security-group
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Terraform Init SG (with backend config)
              working-directory: ./micro-project/security-group
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/security-group/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy SG
              working-directory: ./micro-project/security-group
              run: terraform destroy -auto-approve 

# -------------------------------------------
#  INIT + DESYTROY VPC
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/vpc
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Terraform Init VPN (with backend config)
              working-directory: ./micro-project/vpc
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/vpc/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy VPN
              working-directory: ./micro-project/vpc
              run: terraform destroy -auto-approve 
