name: Destroy Infrastructure (Protected)

on:
    workflow_dispatch:
        inputs:
            password:
                description: "Enter destroy password"
                required: true
                type: string
            bucket_name:
                description: "Terraform Backend S3 Bucket"
                required: true
                type: string
            aws_region:
                description: "AWS Region"
                required: true
                default: "us-east-1"
                type: string
            environment:
                description: "Environment to destroy"
                required: true
                default: "dev"
                type: string

jobs:
    destroy:
        runs-on: ubuntu-latest

        env:
            INPUT_PASSWORD: ${{ inputs.password }}
            DESTROY_PASSWORD: ${{ secrets.DESTROY_PASSWORD }}
            BUCKET_NAME_BACKEND: ${{ inputs.bucket_name }}
            AWS_REGION: ${{ inputs.aws_region }}
            ENVIRONMENT: ${{ inputs.environment }}


        steps:
            - name: Verify password
              run: |
                  if [ "$INPUT_PASSWORD" != "$DESTROY_PASSWORD" ]; then
                    echo "ERROR: Invalid destroy password!"
                    exit 1
                  fi
                  echo "Password verified. Proceeding with destroy..."

            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.6.6"
# -------------------------------------------
# DESYTROY EC2 Postgres
# -------------------------------------------
            - name: Check if RDS state exists
              id: rds_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/rds-postgres/terraform.tfstate >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.rds_state.outputs.exists == 'true'
              working-directory: ./micro-project/rds-postgres
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
            - name: Destroy Postgres (with backend config)
              if: steps.rds_state.outputs.exists == 'true'
              working-directory: ./micro-project/rds-postgres
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/rds-postgres/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"

            - name: Terraform Destroy Postgres
              if: steps.rds_state.outputs.exists == 'true'
              working-directory: ./micro-project/rds-postgres
              run: terraform destroy -auto-approve 

# -------------------------------------------
# DESYTROY EC2 Postgres
# -------------------------------------------
            - name: Check if Postgres state exists
              id: postgres_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/ec2-postgres/terraform.tfstate >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Destroy EC2-Postgres
              if: steps.postgres_state.outputs.exists == 'true'
              working-directory: ./micro-project/ec2-postgres
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json \
                    terraform.auto.tfvars.json
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/ec2-postgres/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 


# # -------------------------------------------
# #  DESYTROY EC2
# # -------------------------------------------
#             - name: Check if EC2 state exists
#               id: ec2_state
#               run: |
#                 if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/ec2/terraform.tfstate >/dev/null 2>&1; then
#                     echo "exists=true" >> $GITHUB_OUTPUT
#                 else
#                     echo "exists=false" >> $GITHUB_OUTPUT
#                 fi

#             - name: Download tfvars from S3
#               if: steps.ec2_state.outputs.exists == 'true'
#               working-directory: ./micro-project/ec2
#               run: |
#                 aws s3 cp \
#                     s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
#             - name: Destroy EC2 (with backend config)
#               if: steps.ec2_state.outputs.exists == 'true'
#               working-directory: ./micro-project/ec2
#               run: |
#                 terraform init \
#                     -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
#                     -backend-config="key=${ENVIRONMENT}/ec2/terraform.tfstate" \
#                     -backend-config="region=${AWS_REGION}" \
#                     -backend-config="encrypt=true"
#                 terraform destroy -auto-approve 



# -------------------------------------------
#  DESYTROY IAM-EC2
# -------------------------------------------
            - name: Check if IAM-EC2 state exists
              id: iam_ec2_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/iam-ec2/terraform.tfstate >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.iam_ec2_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ec2
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
            - name: Destroy IAM-EC2 (with backend config)
              if: steps.iam_ec2_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ec2
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/iam-ec2/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 


# -------------------------------------------
#  DESYTROY ECS
# -------------------------------------------
            - name: Check if ECS state exists
              id: ecs_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/ecs/terraform.tfstate >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/ecs
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json  terraform.auto.tfvars.json
            - name: Destroy ECS (with backend config)
              if: steps.ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/ecs
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/ecs/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 


# -------------------------------------------
#  DESYTROY IAM-ECS
# -------------------------------------------
            - name: Check if IAM-ECS state exists
              id: iam_ecs_state
              run: |
                if aws s3 ls s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/iam-ecs/terraform.tfstate  >/dev/null 2>&1; then
                    echo "exists=true" >> $GITHUB_OUTPUT
                else
                    echo "exists=false" >> $GITHUB_OUTPUT
                fi

            - name: Download tfvars from S3
              if: steps.iam_ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ecs
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json  terraform.auto.tfvars.json
            - name: Destroy IAM-ECS (with backend config)
              if: steps.iam_ecs_state.outputs.exists == 'true'
              working-directory: ./micro-project/iam-ecs
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/iam-ecs/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 

# -------------------------------------------
#  DESYTROY ALB
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/alb
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json terraform.auto.tfvars.json
            - name: Destroy ALB (with backend config)
              working-directory: ./micro-project/alb
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/alb/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 


# -------------------------------------------
#  DESYTROY SG
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/security-group
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json  terraform.auto.tfvars.json
            - name: Destroy SG (with backend config)
              working-directory: ./micro-project/security-group
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/security-group/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 

# -------------------------------------------
#  DESYTROY VPC
# -------------------------------------------
            - name: Download tfvars from S3
              working-directory: ./micro-project/vpc
              run: |
                aws s3 cp \
                    s3://${BUCKET_NAME_BACKEND}/${ENVIRONMENT}/terraform.tfvars.json  terraform.auto.tfvars.json
            - name: Destroy VPC (with backend config)
              working-directory: ./micro-project/vpc
              run: |
                terraform init \
                    -backend-config="bucket=${BUCKET_NAME_BACKEND}" \
                    -backend-config="key=${ENVIRONMENT}/vpc/terraform.tfstate" \
                    -backend-config="region=${AWS_REGION}" \
                    -backend-config="encrypt=true"
                terraform destroy -auto-approve 
