name: Full Infrastructure Provision

on:
  workflow_dispatch:
    inputs:
      project_name:
        description: "Project name"
        required: true
        default: "hetsko"
        type: string
      aws_region:
        description: "AWS Region"
        required: true
        default: "us-east-2"
        type: string
      environment:
        description: "Environment (dev/stage/prod)"
        required: true
        default: "dev"
        type: string
      cidr:
        description: "VPC CIDR block"
        required: true
        type: string
        default: "10.0.0.0/16"
      azs:
        description: "Availability Zones (JSON array)"
        required: true
        type: string
        default: '["us-east-2a","us-east-2b","us-east-2c"]'
      public_subnets:
        description: "Public subnets CIDRs (JSON array)"
        required: true
        type: string
        default: '["10.0.1.0/24","10.0.2.0/24","10.0.3.0/24"]'
      private_subnets:
        description: "Private subnets CIDRs (JSON array)"
        required: true
        type: string
        default: '["10.0.11.0/24","10.0.12.0/24","10.0.13.0/24"]'
      app_port:
        description: "Application port exposed by ECS service"
        required: false
        default: "3000"
        type: string

      listener_port:
        required: false
        default: "80"
      target_port:
        required: false
        default: "3000"
      healthcheck_path:
        required: false
        default: "/health"

      compute_type:
        type: choice
        options: [ecs, ec2]
      container_image:
        required: true
        default: "nginx:1.25-alpine"
      cpu:
        default: "256"
      memory:
        default: "512"
      desired_count:
        default: "1"
      enable_exec:
        default: "true"


jobs:
  infra:
    runs-on: ubuntu-latest

    env:

      PROJECT_NAME: ${{ inputs.project_name }}
      AWS_REGION: ${{ inputs.aws_region }}
      ENVIRONMENT: ${{ inputs.environment }}
      
      CIDR: ${{ inputs.cidr }}
      AZS: ${{ inputs.azs }}
      PUBLIC_SUBNETS: ${{ inputs.public_subnets }}
      PRIVATE_SUBNETS: ${{ inputs.private_subnets }}

      APP_PORT:     ${{ inputs.app_port }}

      LISTENER_PORT: ${{ inputs.listener_port}}
      TARGET_PORT: ${{ inputs.target_port}}
      HEALTHCHECK_PATH: ${{ inputs.healthcheck_path}}

      CONTAINER_IMAGE: ${{ inputs.container_image }}
      CONTAINER_PORT:  ${{ inputs.app_port }}
      CPU:             ${{ inputs.cpu }}
      MEMORY:          ${{ inputs.memory }}
      DESIRED_COUNT:   ${{ inputs.desired_count }}
      ENABLE_EXEC:     ${{ inputs.enable_exec }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

  # ------------------------
  #  AWS Credentials
  # ------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

# ------------------------
# Install Terraform
# ------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

# -------------------------------------------
# BOOTSTRAP BACKEND IF BUCKET DOES NOT EXIST
# -------------------------------------------
      - name: Check if bucket exists
        id: check_bucket
        run: |
          if aws s3api head-bucket --bucket "$PROJECT_NAME-backend-tf" 2>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create backend bucket IF NOT EXISTS
        if: steps.check_bucket.outputs.exists == 'false'
        working-directory: ./micro-project/backend
        run: |
          echo "backend_bucket_name = \"${PROJECT_NAME}-backend-tf\"" > backend.auto.tfvars
          echo "aws_region = \"${AWS_REGION}\"" >> backend.auto.tfvars

          terraform init
          terraform apply -auto-approve


  # -----------------------------------------------
  #  Generate terraform.tfvars.json and send to S3
  # -----------------------------------------------
      - name: Generate terraform.tfvars.json
        run: |
          cat > terraform.tfvars.json <<EOF
          {
            "project_name": "${PROJECT_NAME}",
            "environment": "${ENVIRONMENT}",
            "prefix": "${PROJECT_NAME}",
            "cidr": "${CIDR}",
            "azs": ${AZS},
            "public_subnets": ${PUBLIC_SUBNETS},
            "private_subnets": ${PRIVATE_SUBNETS}, 
            "app_port": "${APP_PORT}", 
            "aws_region": "${AWS_REGION}", 
            "backend_bucket": "${PROJECT_NAME}-backend-tf", 
            "listener_port": "${LISTENER_PORT}",
            "target_port": "${TARGET_PORT}",
            "healthcheck_path": "${HEALTHCHECK_PATH}", 
            "container_image": "${CONTAINER_IMAGE}",
            "container_port": ${CONTAINER_PORT},
            "cpu": ${CPU},
            "memory": ${MEMORY},
            "desired_count": ${DESIRED_COUNT},
            "enable_exec": ${ENABLE_EXEC}
          }
          EOF

      - name: Upload tfvars to S3
        run: |
          aws s3 cp terraform.tfvars.json \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json

# -------------------------------------------
#  INIT + DEPLOY VPC
# -------------------------------------------
      - name: Download tfvars from S3
        working-directory: ./micro-project/vpc
        run: |
          aws s3 cp \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json \
            terraform.auto.tfvars.json

      - name: Terraform Init VPC (with backend config)
        working-directory: ./micro-project/vpc

        run: |
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/vpc/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan VPC
        working-directory: ./micro-project/vpc
        run: terraform plan -input=false -out=tfplan
      - name: Terraform Apply VPC
        working-directory: ./micro-project/vpc
        run: terraform apply -auto-approve tfplan

# -------------------------------------------
#  INIT + DEPLOY SG
# -------------------------------------------

      - name: Download tfvars from S3
        working-directory: ./micro-project/security-group
        run: |
          aws s3 cp \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json \
            terraform.auto.tfvars.json

      - name: Terraform Init SG (with backend config)
        working-directory: ./micro-project/security-group

        run: |
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/security-group/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan SG
        working-directory: ./micro-project/security-group
        run: terraform plan -input=false -out=tfplan
      - name: Terraform Apply SG
        working-directory: ./micro-project/security-group
        run: terraform apply -auto-approve tfplan

# -------------------------------------------
#  INIT + DEPLOY ALB
# -------------------------------------------

      - name: Download tfvars from S3
        working-directory: ./micro-project/alb
        run: |
          aws s3 cp \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json \
            terraform.auto.tfvars.json

      - name: Terraform Init ALB (with backend config)
        working-directory: ./micro-project/alb

        run: |
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/alb/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan ALB
        working-directory: ./micro-project/alb
        run: terraform plan -input=false -out=tfplan
      - name: Terraform Apply ALB
        working-directory: ./micro-project/alb
        run: terraform apply -auto-approve tfplan

# -------------------------------------------
#  INIT + DEPLOY ECS
# -------------------------------------------
      - name: Download tfvars from S3
        working-directory: ./micro-project/ecs
        run: |
          aws s3 cp \
            s3://${PROJECT_NAME}-backend-tf/${ENVIRONMENT}/terraform.tfvars.json \
            terraform.auto.tfvars.json

      - name: Terraform Init ECS (with backend config)
        working-directory: ./micro-project/ecs

        run: |
          terraform init \
            -backend-config="bucket=${PROJECT_NAME}-backend-tf" \
            -backend-config="key=${ENVIRONMENT}/ecs/terraform.tfstate" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="encrypt=true"

      - name: Terraform Plan ECS
        working-directory: ./micro-project/ecs
        run: terraform plan -input=false -out=tfplan
      - name: Terraform Apply ECS
        working-directory: ./micro-project/ecs
        run: terraform apply -auto-approve tfplan